@font-face {
  font-family: "rockwen";
  src: local("rockwen"),
    url(../fonts/HelveticaNeueW0187HvCnObl/rockwen.ttf) format("truetype");
}
* {
  font-family: "rockwen";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: hidden;
  background-color: #fbfbfb;
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.home-container {
  overflow: hidden;
  height: 80vh !important;
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container h6 {
  font-size: 23px;
}
.signup-h6 {
  font-size: 21px !important;
}
:root {
  --blue: #3975ea;
  --grey: #9b9b9b;
  --white: #fff;
  --green: #24a43a;
  --yellow: #d1ae00;
}
.bg-white {
  background-color: var(--white);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--grey);
}
.bg-blue {
  background-color: var(--blue);
}
.pointer {
  cursor: pointer;
}
.signuplink {
  text-decoration: none;
}
.letter-spacing {
  letter-spacing: 10px;
}
.border-left {
  border-left: 2px solid var(--blue);
  margin-right: 15px;
  margin-left: 15px;
}
.box-shadow {
  background: #FFFFFF 0% 0% no-repeat padding-box;

box-shadow: 0px 3px 20px #0000000D !important;
border-radius: 6px !important;

}
.curve-box-homelist tr {
  background-color: #fff;
  height: 70px;
  border-radius: 5px;
}
.signup-res-container {
  width: 100%;
  height: 30vh;
  display: flex;
}
.signup-res-para {
  width: 650px;
}
.msg-box {
  max-width: 900px;
  margin: auto;
  padding: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0000001a;
  border-radius: 20px;
  margin-top: 10vh;
}
.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.add-teammate-button {
  width: 100%;
  border: 0;
  padding: 8px;
  color: #fff;
  margin-top: 10px;
  background-color: rgb(59, 134, 188);
}
.add-teammate-button:hover {
  background-color: rgb(84, 128, 239);
}
.table-height {
  max-height: 40vh;
}
.table-height1 {
  max-height: 70vh;
}
.table-height2 {
  max-height: 70vh;
}
.overflow-set-auto ::-webkit-scrollbar-thumb {
  height: 50px !important;
  background: #fff;
  border: 2px solid var(--blue);
}
.overflow-set-auto {
  overflow-y: auto;
  overflow-x: hidden;
}
.overflow-set-auto ::-webkit-scrollbar {
  width: 8px;
}


.task-box ::-webkit-scrollbar-thumb {
  height: 0px !important;
  background: #fff;
  border: 2px solid var(--blue);
}
.task-box ::-webkit-scrollbar {
  width: 8px;
}
.curve-box-homelist ::-webkit-scrollbar-thumb {
  height: 0px !important;
  background: #fff;
  border: 2px solid var(--blue);
}
.curve-box-homelist ::-webkit-scrollbar {
  width: 8px;
}

.task-box {
  background-color: white;
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
  border-radius: 5px;
  padding: 10px;
}
.action-box {
  max-width: 170px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 10px;
  display: none;
}
.cards {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 5px;
  border-radius: 5px;
  margin: 10px;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.cards .card-tasks {
  color: rgb(0, 0, 0);
  padding: 20px;
}
.cards hr.divider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.task-status {
  float: right;
  text-align: right;
}
#search input {
  padding: 10px;
  padding-left: 20px;
  border: 2px solid #e8e7e7;
  border-radius: 15px !important;
}

.home-buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 18px #0000001a;
  border-radius: 20px;
  width: 403px;
  font-size: 21px;
  color: #000000;
  height: 60px;
}

.deadline input[type="date"]::before {
  width: 100%;
}
.deadline input[type="time"]::before {
  width: 100%;
}
.client-dropdown{
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 3px 18px #0000001A !important;
border-radius: 20px !important;
color: #000000 !important;
border: 0 !important;
text-align: left !important;
padding: 10px !important;
padding-left: 20px !important;
}
.client-dropdown::after{
float: right !important;
font-size: 20px;
margin: 10px;
}
.client-dropdown-menu{
  width: 300px;
  padding: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 18px #0000001A;
border-radius: 20px;
border: 0;
max-height: 250px;
overflow-y: none;
}
.client-dropdown-menu-list{
overflow-y: auto;
font-size: 20px;
overflow-x: hidden;
}
.client-dropdown-menu-height {
max-height: 150px;
}
.client-dropdown-menu ::-webkit-scrollbar-thumb {
  height: 50px !important;
  background: #fff;
  border: 2px solid var(--blue);
}
.client-dropdown-menu ::-webkit-scrollbar {
  width: 8px;
}


.company-dropdown{
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 3px 18px #0000001A !important;
border-radius: 20px !important;
color: #000000 !important;
border: 0 !important;
text-align: left !important;
padding: 10px !important;
padding-left: 20px !important;
}
.company-dropdown::after{
float: right !important;
font-size: 20px;
margin: 10px;
}
.company-dropdown-menu{
  width: 300px;
  padding: 10px;
max-height: 250px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 18px #0000001A;
border-radius: 20px;
border: 0;
overflow-y: none;
}
.company-dropdown-menu-list{
overflow-y: auto;
overflow-x: hidden;
}
.company-dropdown-menu ::-webkit-scrollbar-thumb {
  height: 50px !important;
  background: #fff;
  border: 2px solid var(--blue);
}
.company-dropdown-menu ::-webkit-scrollbar {
  width: 8px;
}
.company-dropdown-menu-height {
max-height: 100px;
}

.add-new-input-textbox::-webkit-input-placeholder { 
font-family: FontAwesome;
padding-left: 5px;
font-size: 12px;
padding-top: 2px;
}

.add-new-input-textbox::-moz-placeholder  { 
font-family: FontAwesome;
padding-left: 5px;
font-size: 12px;
padding-top: 2px;
}

.add-new-input-textbox:-ms-input-placeholder  { 
font-family: FontAwesome;
padding-left: 5px;
font-size: 12px;
padding-top: 2px;
}
.add-new-company-input{
padding: 10px;}
.add-new-company-input input{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070 !important;
border-radius: 31px;
width: 100%;
outline: none;
padding: 8px;
}
.add-new-input{
padding: 10px;
}
.add-new-input input{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070 !important;
border-radius: 31px;
width: 70%;
outline: none;
padding: 8px;
}
.add-new-input input::placeholder{
  color: #B2B2B2;
}
.add-new-input button{
  background: #3375E6 0% 0% no-repeat padding-box;
border-radius: 31px;
color: #FFf;
width: 25%;
padding: 6px;
border: 0;
margin-left: 8px;
}

.company-dropdown{
  text-align: left !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px !important;
}