@font-face {
  font-family: "helveticaneue";
  src: local("helveticaneuew01-87hvcnoblRg")
      url("../fonts/HelveticaNeueW0187HvCnObl/helvetica_neue_w01_87_hv_cn_obl-webfont.woff")
      format("woff"),
    url("../fonts/HelveticaNeueW0187HvCnObl/HelveticaNeueW0187HvCnObl.ttf")
      format("truetype"),
    url("../fonts/HelveticaNeueW0187HvCnObl/HelveticaNeueW0187HvCnObl.otf")
      format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rockwen";
  src: local("rockwen"), url(../fonts/HelveticaNeueW0187HvCnObl/rockwen.ttf) format("truetype");
}

* {
  font-family:"rockwen";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
}
:root {
  --blue: #3975ea;
  --grey: #9b9b9b;
  --white: #fff;
  --green: #24a43a;
  --yellow: #d1ae00;
}
.bg-white {
  background-color: var(--white);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--grey);
}
.bg-blue {
  background-color: var(--blue);
}
.letter-spacing {
  letter-spacing: 10px;
}
.border-left {
  border-left: 2px solid var(--blue);
  margin-right: 15px;
  margin-left: 15px;
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px;
}
.curve-box-homelist tr {
  background-color: #fff;
  height: 70px;
  border-radius: 5px;
}
.form-box {
  max-width: 460px;
  margin: auto;
  padding: 60px;
  background: transparent;
  box-shadow: 0px 3px 18px #0000001A;
  border-radius: 20px;
}
.form-box1 {
  width: 800px;
  margin: auto;
  padding: 60px;
  background: transparent;
  box-shadow: 0px 3px 18px #0000001A;
  border-radius: 20px;
}
.form-box1 input,.form-box input{
  padding: 12px;
  border: 2px solid #e8e7e7;
  border-radius: 20px !important;
}
.msg-box {
  max-width: 600px;
  margin: auto;
  padding: 50px;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin-top: 10vh;
}
.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.task-box {
  background-color: white;
  max-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 3px;
  border-radius: 5px;
  padding: 10px;
}
.action-box {
  max-width: 170px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 10px;
  display: none;
}
.cards {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 5px;
  border-radius: 5px;
  color: #fff;
  font-size: small;
  font-weight: 600;
  margin-top: 20px;
}
.cards .card-tasks {
  color: rgb(0, 0, 0);
  padding: 10px;
}
.task-status {
  float: right;
  text-align: right;
}
.cards hr.divider
{ 
   margin-top: 0.5em;
   margin-bottom: 0.5em;
} 